.container__content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.content__cover > img {
  border: 5px solid rgba(96, 96, 96, 0.39);
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content__description {
  margin-top: 20px;
}

.content__description > p {
  margin-top: 20px;
  color: rgb(172, 172, 172);
}
